.accordionContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.accordionTrigger {
  text-align: left;
  font-size: medium;
  font-weight: 400;
}
.accordionContent {
  text-align: left;
  font-size: medium;
  font-weight: 300;
}

.clickableLink {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.clickableLink:hover {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) {
  .accordionContainer {
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
  }
}
