.accordionContainer {
    width: 500px;
    max-width: 100%;
}
  
.accordionItem,
.accordionTrigger,
.accordionContent {
    width: 100%;
}

@media (max-width: 480px) {
    .accordionContainer {
        width: 100%;
        min-width: 300px;
    }
}

@media (max-width: 768px) {
    .accordionContainer {
        width: 100%;
        min-width: 400px
    }
}