.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 100% of the viewport height */
  min-height: 60vh;
  /* margin: auto; */
  width: 90%;
  margin-bottom: 15%;
}

.heroText {
  font-family: "Courier Prime", monospace;
  font-size: xx-large;
  padding-left: 2%;
}

.heroText::after {
  content: "";
  display: inline-block;
  margin-left: 1px;
  width: 10px;
  height: 20px;
  background-color: #2e2e2e;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroDisclaimer {
  font-family: "Courier Prime", monospace;
  font-size: smaller;
  padding-left: 2%;
  padding-right: 2%;
}

.heroSeparator {
  background-color: #2e2e2e;
}

.socialIconsList {
  padding: 2%;
  /* display: flex; */
}

.socialIcon {
  float: right;
  margin: 0 1.5%;
  font-size: 280%;
  transition: color 0.2s ease;
  cursor: pointer;
}

.socialIcon:hover {
  color: #f4442c;
}

@media (max-width: 480px) {
  .heroText {
    font-size: medium;
  }
  .heroText::after {
    width: 7px;
    height: 15.5px;
  }
  .socialIcon {
    margin-left: 3%;
    font-size: 210%;
  }
}
