@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.heroText {
    font-family: 'Courier Prime', monospace;
    font-size: x-large;
    padding-left: 2%;
}

.heroText::after {
    content: "";
    display: inline-block;
    margin-left: 1px;
    width: 10px;
    height: 20px;
    background-color: #2e2e2e;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heroDisclaimer {
    font-family: 'Courier Prime', monospace;
    font-size: smaller;
    padding-left: 2%;
    padding-right: 2%;
}
  
@media (max-width: 480px) {
    .heroText {
        font-size: medium;
    }
}