.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    /* equal spacing horizontally and vertically between grid items */
    gap: 20px;
    /* fixed height for all items*/
    grid-auto-rows: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popover {
    width: 100%;
    height: 100%; 
}

.triggerContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* width: 80%; */
    height: 100%;
    justify-content: center;
}

/* .roundImage {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.diamondImage {
    max-width: 250px;
	margin: 20px;
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	transition: 1s;
}

.diamondImage:hover {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

.diamondWrapper {
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: 0.4s;
}

.diamondWrapper:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.roundImage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.textContainer {
    text-align: left;
    flex: 1;
}

.contentImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.popoverContent {
    width: 75%;
    max-width: 500px;
    margin-left: 3%;
}
