.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 100% of the viewport height */
    min-height: 100vh;
    /* margin: auto; */
    width: 90%;
}

.sectionTitle {
    font-size: 250%;
    font-weight: 500;
    margin-bottom: 10%;
}

.sectionButton {
    margin-top: 20%;
    font-size: x-large;
    font-weight: 400;
}