.sponsorContainer {
    width: 100%;
}

.sponsorSection {
    display: flex;  /* Convert this to a flex container */
    align-items: center;  /* Vertically center align content */
    justify-content: flex-start;  /*Horizontally align to start*/
    margin: 20px 0;
}

.sponsorTitle {
    text-align: center;
    width: 20%;
    margin: 0;  /* Remove default margins from the heading */
    /* margin-right: 20px;  Add some spacing to the right of the heading */
    flex-shrink: 0;
}

.sponsorList {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;   /* Adjusted the gap to a fixed pixel value */
    align-items: center;  /* Vertically center the items */
    justify-content: center;  /* Horizontally center the items */
    flex-grow: 1;
}

.sponsorIcon {
    flex: 1;   /* Allows the item to take up only necessary space, and to share the line with other items */
    max-width: 20%;
    min-width: 120px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .sponsorIcon {
        max-width: 20%;  /* Allows the icon to take up the full width on mobile */
        margin-bottom: 15px;  /* Add some space below each item */
    }

    .sponsorSection {
        flex-direction: column;  /* Stacks the title and sponsor list vertically */
    }

    .sponsorTitle {
        margin-bottom: 10px;  /* Add some space below the heading for mobile */
        width: auto;
        margin-right: none;
    }
}
