.tabs {
    /* padding: auto; */
}

.tabsList {
    display: flex;
    justify-content: space-between; /* Distribute tabs equally */
    width: 100%; /* Use full width */
    max-width: 600px; /* Set maximum width */
    padding: 4px;
}

.tabsTrigger {
    flex: 1; /* Allow tabs to grow and shrink as needed */
    text-align: center; /* Center text in tabs */
}

.tabsTrigger[data-state='active'] {
    background-color: white;
    color: #252525;
}

.tabsContent {
    color: black;
    width: 100%; /* Use full width */
    max-width: 600px; /* Set maximum width */
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .tabsTrigger {
        flex: 1 1 50%; /* On smaller screens, show a max of 2 tabs in a row */
    }
}

/* Media Query for very small screens or mobile */
@media (max-width: 480px) {
    .tabsTrigger {
        flex: 1 1 100%; /* On very small screens, stack tabs vertically */
        text-align: center; /* Optional: center text in tabs */
    }
}
