.tabs {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* width: 80%; */
    /* align-items: center; */
}

.tabsList {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 4px;
    background-color: white;
}

.tabsTrigger {
    flex: 1; /* tabs grow and shrink as needed */
    text-align: center;
    font-size: large;
}

.tabsTrigger:hover {
    font-size: x-large;
}

.tabsTrigger[data-state='active'] {
    background-color: white;
    color: #252525;
    font-size: x-large;
    box-shadow: none;
}


.tabsContentContainer {
    color: black;
    padding: 4%;
    /* min-height: 500px; */
    /* transition: height 0.3s ease-in-out;  */
}

.tabsContentTitle {
    font-size: x-large;
    font-weight: 400;
}

.yellowBrace {
    color: #f0b15d;
    font-size: x-large;
    font-weight: 400;
}  

.yellowBraceEnd {
    color: #f0b15d;
    font-size: x-large;
    font-weight: 400;
    position: absolute;
    right: 7%;
}  

/* .tabsContentTitle::after {
    content: "{";
    position: absolute;
    margin-left: 8px;
    top: 0;
    color: red;
    font-size: x-large;
} */

.tabsContentDescription {
    /* text-indent: 5%; */
    margin-left: 3%;
    font-weight: 300;
}


@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .tabsTrigger {
        font-size: medium;
    }
    .tabsTrigger:hover {
        font-size: large;
    }
    .tabsTrigger[data-state='active'] {
        background-color: white;
        color: #252525;
        font-size: large;
        box-shadow: none;
    }
}
